.hidden_div { left:-9999px; top:-9999px; position:absolute }
#startingCover { position:absolute; left:0; top:0; z-index:1000000; width:100%; height:100%; overflow:hidden; background:#b4d9f1 }
#startingLogo { position:absolute; left:50%; top:50%; margin:-50px 0 0 -50px; width:100px; height:100px; background:url(./images/starting_logo.gif) }
#startingText { position:absolute; left:50%; top:50%; margin:80px 0 0 -80px; width:160px; height:50px; font-family:Arial, Tahoma, 微软雅黑; font-size:20px; color:white; text-shadow:#666 0 0 3px; text-align:center; cursor:default }
#startingBarContainer { position:absolute; left:50%; top:50%; margin:120px 0 0 -51px; width:100px; height:2px; overflow:hidden; font-size:0; border:1px solid #999; background:#666 }
#startingBar { width:100%; height:2px; overflow:hidden; font-size:0; background:#fe780a url("./images/starting_bar.gif") }
#progress { height:450px; width:250px; position:absolute; right:20px; bottom:30px; overflow:auto; z-index:1000001; display:none }
#startingTips { position:absolute; left:50%; top:50%; margin:112px 0 0 60px; width:40px; height:20px; overflow:hidden; color:#666; font-size:12px; font-family:tahoma }
#desktop { border:0 solid red; width:100%; height:100%; overflow:hidden; zoom:1; font:12px/1.5 tahoma, helvetica, clean, sans-serif; color:#333; cursor:default }
#topBar { position:absolute; width:100%; height:0; left:0; top:0 }
.sideBarReplacement { float:right; padding:0 5px 0 0; width:195px; height:100% }
#sideBar { position:absolute; right:0; top:60px; bottom:65px; padding:0 5px 0 0; width:195px }
.maskLayer { display:none }
.maskBackground { position:absolute; width:100%; height:100%; background:black; opacity:.5; filter:alpha(opacity = "50") }
#leftBar { height:100%; left:0; position:absolute; top:0; width:0 }
#rightBar { height:100%; right:0; position:absolute; top:0; width:0 }
#topBar, #leftBar, #rightBar { z-index:10 }
#bottomBar { z-index:12 }
#desktopWrapper { z-index:11 }
#navbar { z-index:11 }
.dock_container { width:73px; height:576px; position:absolute; left:0; top:50%; margin:-290px 0 0 0 }
.dock_drap_effect { display:none; z-index:4000000; border:3px solid #3c9dff }
.dock_drap_effect_left { width:65px; height:568px; position:absolute; left:-3px; top:50%; margin:-288px 0 0 0 }
.dock_drap_effect_top { position:absolute; height:65px; left:50%; margin:0 0 0 -288px; top:-3px; width:568px }
.dock_drap_effect_right { width:65px; height:568px; position:absolute; right:-3px; top:50%; margin:-288px 0 0 0 }
.dock_drap_effect_current { border-color:#e1f0fd }
.dock_drap_proxy { position:absolute; width:1px; height:1px; background:transparent; display:none }
.dock_drap_mask { position:absolute; width:100%; height:100%; left:0; top:0; display:none; z-index:300000 }
.dock_drop_region_top { position:absolute; left:0; top:0; width:100%; height:20%; border-bottom:1px dashed #333 }
.dock_drop_region_left { position:absolute; left:0; bottom:0; width:50%; height:80%; border-right:1px dashed #333 }
.dock_drop_region_right { position:absolute; right:0; bottom:0; width:50%; height:80% }
.dock_item_list { float:left; width:65px; height:380px }
.dock_tool_list { position:absolute; bottom:5px; height:115px; width:65px }
.dock_tool_item { height:31px; width:50px; margin:0 auto }
.dock_tool_item2 { height:50px; margin:0 auto }
.dock_tool_icon { background:url("./images/portal_all_png.png?t=20111011016") no-repeat; _background:0; width:20px; height:20px; display:block; float:left; cursor:pointer; position:relative; margin:5px 0 }
.dock_tool_pinyin { background-position:-80px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_pinyin.png', sizingMethod='crop')
}
.dock_tool_pinyin:hover { background-position:-80px -20px; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_pinyin_hover.png', sizingMethod='crop')
}
.dock_tool_sound { margin-left:10px; zoom:1; background-position:0 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_sound.png', sizingMethod='crop')
}
.dock_tool_sound:hover { background-position:0 -20px; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_sound_hover.png', sizingMethod='crop')
}
.dock_tool_sound_mute { background-position:-20px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_sound_mute.png', sizingMethod='crop')
}
.dock_tool_sound_mute:hover { background-position:-20px -20px; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_sound_mute_hover.png', sizingMethod='crop')
}
.dock_tool_setting { background-position:-60px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_setting.png', sizingMethod='crop')
}
.dock_tool_setting:hover { background-position:-60px -20px; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_setting_hover.png', sizingMethod='crop')
}
.dock_tool_theme { margin-left:10px; zoom:1; background-position:-40px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_theme.png', sizingMethod='crop')
}
.dock_tool_theme:hover { background-position:-40px -20px; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_theme_hover.png', sizingMethod='crop')
}
.dock_tool_start { background-position:-100px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_start.png', sizingMethod='crop');
float:none; height:40px; margin:5px auto 0; width:40px }
.dock_tool_start:hover { background-position:-140px 0; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_start_hover.png', sizingMethod='crop')
}
.dock_menu_select_left .dock_menu_item_left, .dock_menu_select_top .dock_menu_item_top, .dock_menu_select_right .dock_menu_item_right { background:url("./images/portal_all_png.png?t=20111011016") no-repeat -100px -460px }
.ie6_0 .dock_menu_select_left .dock_menu_item_left, .ie6_0 .dock_menu_select_top .dock_menu_item_top, .ie6_0 .dock_menu_select_right .dock_menu_item_right { background:url("./images/portal_all_gif.gif?t=20111011016") no-repeat -100px -460px }
.dock_top { height:10px }
.dock_middle { height:566px; padding-top:10px }
.dock_bottom { height:10px }
.dock_pos_left .dock_middle { background:url("./images/dock_l.png?t=20111011001") no-repeat }
.dock_pos_left .dock_tool_list { left:0 }
.dock_pos_right .dock_middle { padding-left:5px; overflow:hidden; background:url("./images/dock_r.png?t=20111011001") no-repeat 0 0 }
.ie6_0 .dock_pos_right .dock_middle { padding-left:3px }
.dock_pos_right .dock_tool_list { left:7px }
.dock_pos_right .appButton { margin-left:6px!important }
.dock_pos_top { height:79px; left:50%; margin:0 0 0 -290px; top:0; width:576px }
.dock_pos_top .dock_top, .dock_pos_top .dock_bottom { position:absolute; top:0; height:100%; width:15px }
.dock_pos_top .dock_top { left:0; width:10px }
.dock_pos_top .dock_middle { width:566px; height:69px; padding-top:0; padding-left:10px; background:url("./images/dock_up.png?t=20111011001") no-repeat }
.dock_pos_top .dock_bottom { right:0; width:0 }
.dock_pos_top .dock_item_list { width:385px; height:60px }
.dock_pos_top .dock_tool_list { width:115px; height:60px; position:absolute; right:4px; top:3px }
.ie6_0 .dock_pos_top .dock_tool_list { width:119px }
.dock_pos_top .dock_tool_item { height:60px; width:22px; float:left; margin:0 5px }
.dock_pos_top .dock_tool_sound, .dock_pos_top .dock_tool_theme { margin-left:0 }
.dock_pos_top .dock_tool_item2 { width:50px; height:60px; float:left }
.dock_pos_top .dock_tool_start { margin-top:10px }
.dock_pos_top .appButton { margin:4px 2px!important }
.appMarket { float:left }
.ie6_0 .dock_pos_left .dock_middle { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_l.png?t=20111011001', sizingMethod='scale')
}
.ie6_0 .dock_pos_right .dock_middle { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_r.png?t=20111011001', sizingMethod='scale')
}
.ie6_0 .dock_pos_top .dock_middle { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/dock_up.png?t=20111011001', sizingMethod='scale')
}
#touchpad { position:absolute; display:none; width:100%; height:100%; border:0; top:0; left:0 }
.appButton { display:inline; cursor:pointer; float:left; width:88px; height:88px; color:white; font-size:12px; position:relative }
.appListContainer { -webkit-user-select:none }
.appListContainer .appButton { position:absolute }
.appListContainer .appButton_appIcon { margin-top:6px }
.appListContainer .appButton_appName { overflow:visible }
.appButton_appName_inner_right { display:none }
.appListContainer .appButton_appName_inner { width:auto; display:inline-block; background:url("./images/portal_all_png.png?t=20111011016") no-repeat -80px -560px; _background:0; text-indent:10px; margin:0; padding:0; height:20px; line-height:18px; overflow:hidden; position:relative; max-width:78px; vertical-align:middle }
.appListContainer .appButton_appName_inner_right { width:10px; display:inline-block; background:url("./images/portal_all_png.png?t=20111011016") no-repeat -166px -560px; _background:0; margin:0; padding:0; height:20px; vertical-align:middle }
.ie .appListContainer .appButton_appName_inner { line-height:20px }
.ie7_0 .appListContainer .appButton_appName_inner { float:left; width:68px; margin-left:5px }
.ie7_0 .appListContainer .appButton_appName_inner_right { float:left }
.ie6_0 .appListContainer .appButton_appName_inner { text-indent:0; display:block; margin:0 5px }
.ie6_0 .appListContainer .appButton_appName_inner_right { display:none }
.appListContainer .modify_name { text-indent:0; padding-left:10px; width:68px }
.ie7_0 .appListContainer .modify_name { margin-left:0; width:68px }
.ie6_0 .appListContainer .modify_name { padding-left:0; width:auto }
.appListContainer .scrollBar { position:absolute; right:3px; top:0; width:10px; height:20px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#ccc }
.appListContainer .scrollBar_bg { border:0 none; display:block; margin:0; padding:0; position:absolute }
.appListContainer .scrollBar_bg_t { background:url("./images/scrollbar_bg.gif") no-repeat scroll 0 0 transparent; height:5px; overflow:hidden; top:-5px; width:10px }
.appListContainer .scrollBar_bg_b { background:url("./images/scrollbar_bg.gif") no-repeat scroll 0 -5px transparent; height:5px; overflow:hidden; bottom:-5px; width:10px }
.documentMode_9 .scrollBar_bg, .documentMode_9 .scrollBar_bg_t, .documentMode_9 .scrollBar_bg_b { display:none }
.appButton_appIcon { margin:0 auto; width:48px; height:48px; overflow:hidden; background-position:center center; background-repeat:no-repeat; cursor:pointer; position:relative }
.appButton_appIcon_warp { background-image:url(./images/iconbg_4.png) }
.ie6_0 .appButton_appIcon_warp { background:none!important; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/iconbg_4.png', sizingMethod='scale')
}
.appButton_appIconImg { width:100%; height:100%; overflow:hidden; background-position:center center; background-repeat:no-repeat; position:relative }
.appButtonIpadincompatible { opacity:.3 }
.appButton_smallIcon { height:16px; margin:16px; width:16px }
.appButton_stateIcon { position:absolute; bottom:-6px; right:-2px; height:16px; overflow:hidden; width:12px }
.appButton_contactIcon, .appButton_contactIcon .appButton_appIconImg { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px }
.appButton_loadingIcon { position:absolute; left:50%; top:50px; margin-top:-8px; margin-left:-8px; height:16px; overflow:hidden; width:16px; background:url("./images/ico_loading2.gif?t=20111011001") no-repeat }
.appButton_appName { color:white; height:20px; margin:8px 0 0 0; text-align:center; cursor:pointer; overflow:hidden }
.ie .appButton_appName { line-height:20px; margin-top:7px }
.appButton_appName_inner { overflow:hidden; width:50px; margin:auto; -webkit-user-select:none; word-break:break-all }
.appButton_appName_longfix { width:1000px; display:block; text-align:left }
.appButton_delete { display:none; font-size:0; z-index:10; line-height:1; width:20px; height:20px; overflow:hidden; cursor:pointer; position:absolute; top:-6px; right:-6px; background:url("./images/portal_all_png.png?t=20111011016") no-repeat 0 -560px }
.ie6_0 .appButton_delete { background-image:url("./images/portal_all_gif.gif?t=20111011016") }
.appListContainer .appButton_delete, .dock_container .appButton_delete { background-position:-30px -560px; width:24px; height:24px; top:-10px; right:-10px }
.appButton_notify { display:none; height:12px; overflow:hidden; cursor:pointer; position:absolute; top:-5px; right:-5px; text-align:center; font-size:11px; line-height:12px; background:url("./images/portal_all_png.png?t=20111011016") no-repeat 10000px 0 }
.ie6_0 .appButton_notify { background-image:url("./images/portal_all_gif.gif?t=20111011016") }
.appButton_notify_1 { width:16px; background-position:-60px -290px }
.appButton_notify_2 { width:20px; background-position:-90px -290px }
.appButton_notify_3 { width:24px; background-position:-120px -290px }
.appListContainer .appButton_notify, .dock_container .appButton_notify { right:15px; top:2px }
.dock_container .appButton_notify { right:0 }
.appListContainer .appButton_notify .appButton_notify_inner, .dock_container .appButton_notify .appButton_notify_inner { display:block }
.appButton:hover, .appButtonEditState .appButton, .appButtonEditState .addQuickLinkButton:hover { background:url('./images/appbutton_mouseover_bg3.png?t=20111011001') no-repeat 1px 0 }
.dock_container .appButton:hover, .dock_container .appButtonEditState .appButton, .aMg_dock_container .appButton:hover { background:url('./images/appbutton_mouseover_bg4.png?t=20111011001') no-repeat center center }
.dock_container .appButton { margin:2px 3px 2px 4px; padding:0; width:58px; height:58px }
.dock_container .appButton_appName { display:none }
.dock_container .appButton_appIcon, .aMg_dock_container .appButton_appIcon { margin:5px auto 0 }
.appButtonEditState .not_deleteable { background:none!important }
.appButtonEditState .not_deleteable:hover { background:none!important }
.ie6_0 .appButtonEditState .appButton { background:#bababa!important }
.appButtonEditState .appButton_delete { display:block }
.appButtonEditState .not_deleteable .appButton_delete { display:none }
.appButtonEditState .appButton_notify { display:none!important }
.appButtonHover { background:#bababa }
#desktopWrapper { position:relative; top:0 }
#desktopsContainer { position:absolute; top:0; left:0 }
.desktopsContainer .desktopContainer { left:2000px; position:absolute; overflow:visible }
.desktopsContainer .desktop_current { display:block; left:0 }
.webkit #desktopsContainer { -webkit-perspective:800px }
.webkit #desktopWrapper .desktopsContainerEx { -webkit-perspective:none }
.webTop #desktopsContainer { -webkit-perspective:none }
.webkit .desktopsContainer .desktopContainer { display:none }
.webkit .desktopsContainer .desktop_current { opacity:1; display:block }
.webkit .desktopsContainer .desktop_current_noanimation { left:0!important; -webkit-transform:none }
.webkit .desktopsContainer .desktop_disappear_prepare1 { -webkit-transform:rotateY(0deg); -webkit-transform-origin:center left; opacity:1; left:0!important; display:block }
.webkit .desktopsContainer .desktop_disappear_animation1 { opacity:0; -webkit-transform:rotateY(135deg); -webkit-transition:-webkit-transform .8s linear, opacity .5s linear, left 0s linear .8s
}
.webkit .desktopsContainer .desktop_show_prepare1 { opacity:0 }
.webkit .desktopsContainer .desktop_show_animation1 { left:0!important; opacity:1; -webkit-transition:left .5s linear .2s, opacity .25s linear .4s
}
.webkit .desktopsContainer .desktop_disappear_prepare2 { opacity:1; display:block }
.webkit .desktopsContainer .desktop_disappear_animation2 { opacity:0; -webkit-transition:left .5s linear, opacity .25s linear
}
.webkit .desktopsContainer .desktop_show_prepare2 { -webkit-transform:rotateY(135deg); opacity:0; left:0!important }
.webkit .desktopsContainer .desktop_show_animation2 { opacity:1; -webkit-transform:none; -webkit-transform-origin:center left; -webkit-transition:-webkit-transform .8s linear, opacity .5s linear
}
.firefox .desktopsContainer .desktop_disappear_prepare1 { left:0; opacity:1 }
.firefox .desktopsContainer .desktop_disappear_animation1 { opacity:0; left:-2000px; -moz-transition:left .5s linear, opacity .2s linear
}
.firefox .desktopsContainer .desktop_show_prepare1 { left:2000px; opacity:0 }
.firefox .desktopsContainer .desktop_show_animation1 { left:0; opacity:1; -moz-transition:left .5s linear, opacity .2s linear .25s
}
.firefox .desktopsContainer .desktop_disappear_prepare2 { left:0; opacity:1 }
.firefox .desktopsContainer .desktop_disappear_animation2 { left:2000px; opacity:0; -moz-transition:left .5s linear, opacity .2s linear
}
.firefox .desktopsContainer .desktop_show_prepare2 { left:-2000px; opacity:0 }
.firefox .desktopsContainer .desktop_show_animation2 { left:0; opacity:1; -moz-transition:left .5s linear, opacity .2s linear .25s
}
#desktopWrapper .actions { margin:7px 0 8px; height:25px }
#desktopWrapper .actions .actionButton { position:relative; height:25px; display:inline-block; float:left }
.appListContainer, .windowContainer { min-width:100px; min-height:100px; width:100%; top:0; left:0; overflow-y:auto }
.appListContainer { overflow-y:hidden; position:relative }
.appListContainerInner { position:absolute }
.windowContainer { position:absolute; top:0; overflow:visible }
.addQuickLinkButton { position:absolute; width:88px; height:88px }
.appButtonEditState .addQuickLinkButton { background:0 }
.addQuickLinkButton .appButton_appName { margin-top:8px }
.addQuickLinkButtonInner { width:100%; height:100%; background:url("./images/portal_all_png.png?t=20111011016") no-repeat -380px -500px; width:50px; height:50px; margin:5px auto; cursor:pointer }
.ie6_0 .addQuickLinkButtonInner { background-image:url("./images/portal_all_gif.gif?t=20111011016") }
.appButtonEditState .addQuickLinkButtonInner { background-position:-460px -500px }
.bottomBarBg { height:130px; position:absolute; bottom:0; width:100%; background:url(./images/task/bg_task_main.png) repeat-x }
.ie6_0 .bottomBarBg { background:0 }
.bottomBarBgTask { height:64px; position:absolute; bottom:0; width:100%; background:url(./images/task/bg_task_b.png) repeat-x 0 41px }
.ie6_0 .bottomBarBgTask { height:23px; background-color:#000; opacity:20; filter:alpha(opacity=20) }
.bottomBar { height:64px; position:absolute; bottom:0; right:0 }
.taskMenuMask { position:absolute; left:0; bottom:47px; width:114px; z-index:99; opacity:1; filter:alpha(opacity=1) }
.taskMenuBox { position:absolute; left:0; bottom:47px; width:114px; z-index:100 }
.taskContainer { height:64px; float:right; width:200px; overflow:hidden }
.ie6_0 .taskContainer { position:relative }
.ie7_0 .taskContainer { position:relative }
.taskContainerInner { height:100%; float:right; -webkit-transition:margin-right .5s ease;
-moz-transition:margin-right .5s ease;
-o-transition:margin-right .5s ease,;
transition:margin-right .5s ease
}
.ie6_0 .taskContainerInner { position:absolute; right:0 }
.ie7_0 .taskContainerInner { position:absolute; right:0 }
.bottomBar .taskGroup { height:100%; float:right; width:0; overflow:hidden; -webkit-transition:width .5s ease;
-moz-transition:width .5s ease;
-o-transition:width .5s ease,;
transition:width .5s ease
}
.bottomBar .taskGroupAnaWidth { width:114px }
.bottomBar .taskGroupAnaOpacity { opacity:100; filter:alpha(opacity=100); -webkit-transition:-webkit-transform .2s ease;
-moz-transition:-moz-transform .2s ease;
-o-transition:-o-transform .2s ease,;
transition:transform .2s ease;
-webkit-transform-origin:center left; -moz-transform-origin:center left; -o-transform-origin:center left }
.bottomBar .taskGroupAnaScale { -webkit-transform:scale(1, 1); -moz-transform:scale(1, 1); -0-transform:scale(1, 1);
transform:scale(1, 1) }
.taskItem { width:112px; height:100%; margin:0 1px; float:left; display:block; background:url(./images/task/bg_task_nor.png) no-repeat; vertical-align:middle }
.ie6_0 .taskItem { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_nor.png')
}
.bottomBar .taskGroup .taskItem:hover { background:url(./images/task/bg_task_over.png) no-repeat }
.ie6_0 .bottomBar .taskGroup .taskItem:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_over.png')
}
.bottomBar .taskCurrent .taskItem { background:url(./images/task/bg_task_cur.png) no-repeat }
.ie6_0 .bottomBar .taskCurrent .taskItem { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_cur.png')
}
.bottomBar .taskJumpUp .taskItem { background:url(./images/task/bg_task_msg.png) no-repeat }
.ie6_0 .bottomBar .taskJumpUp .taskItem { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_msg.png')
}
.taskItem div { cursor:pointer }
.taskItemIcon { width:32px; height:32px; margin:22px 5px; float:left; background-repeat:no-repeat; background-position:center center; cursor:pointer }
.ie6_0 .taskItemIcon { margin:22px 3px }
.taskItemIcon img { width:32px; height:32px; float:left; cursor:pointer }
.taskItem_offline .taskItemIcon img { opacity:.5; filter:alpha(opacity = 50) }
.taskItemTxt { width:70px; height:36px; margin-top:27px; color:#FFF; float:left; line-height:36px; overflow:hidden; cursor:pointer }
.taskMenuBox .taskItem { height:40px; background:url(./images/task/bg_task_group_m.png) no-repeat }
.ie6_0 .taskMenuBox .taskItem { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_m.png')
}
.taskMenuBox .taskItem:hover { background:url(./images/task/bg_task_group_m_over.png) no-repeat }
.ie6_0 .taskMenuBox .taskItem:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_m_over.png')
}
.taskMenuBox .taskItem .taskItemIcon { margin:4px 5px }
.ie6_0 .taskMenuBox .taskItem .taskItemIcon { margin:4px 3px }
.taskMenuBox .taskItem .taskItemTxt { margin-top:0; line-height:40px }
.taskMenuBox .fistTaskItem { background:url(./images/task/bg_task_group_t.png) no-repeat }
.ie6_0 .taskMenuBox .fistTaskItem { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_t.png')
}
.taskMenuBox .fistTaskItem:hover { background:url(./images/task/bg_task_group_t_over.png) no-repeat }
.ie6_0 .taskMenuBox .fistTaskItem:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_t_over.png')
}
.taskMenuBox .taskItemHight { background:url(./images/task/bg_task_group_m_msg.png) no-repeat }
.taskMenuBox .firstTaskItemHight { background:url(./images/task/bg_task_group_t_msg.png) no-repeat }
.ie6_0 .taskMenuBox .taskItemHight { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_m_msg.png')
}
.ie6_0 .taskMenuBox .firstTaskItemHight { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_t_msg.png')
}
.taskMenuContentBox { overflow:hidden; margin-top:0; width:100%; height:100% }
.taskMenuContentInner { width:100%; height:auto; float:left }
.taskMenuContentInnerAnm { -webkit-transition:margin-top .5s ease;
-moz-transition:margin-top .5s ease;
-o-transition:margin-top .5s ease,;
transition:margin-top .5s ease
}
.taskMenuUp, .taskMenuDown { height:20px; width:100%; float:left; background-color:#060; display:block; outline:0; margin:0 1px }
.taskMenuUp { background:url(./images/task/taskmenu_up.png) no-repeat }
.taskMenuDown { background:url(./images/task/taskmenu_down.png) no-repeat }
.ie6_0 .taskMenuUp { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_up.png')
}
.ie6_0 .taskMenuDown { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_down.png')
}
.taskMenuUp:hover { background:url(./images/task/taskmenu_up_over.png) no-repeat }
.taskMenuDown:hover { background:url(./images/task/taskmenu_down_over.png) no-repeat }
.ie6_0 .taskMenuUp:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_up_over.png')
}
.ie6_0 .taskMenuDown:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_down_over.png')
}
.taskMenuUpDisable, .taskMenuUpDisable:hover { background:url(./images/task/taskmenu_up_disable.png) no-repeat }
.taskMenuDownDisable, .taskMenuDownDisable:hover { background:url(./images/task/taskmenu_down_disable.png) no-repeat }
.ie6_0 .taskMenuUpDisable, .ie6_0 .taskMenuUpDisable:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_up_disable.png')
}
.ie6_0 .taskMenuDownDisable, .ie6_0 .taskMenuDownDisable:hover { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/taskmenu_down_disable.png')
}
.taskMenuUpDisable, .taskMenuDownDisable { cursor:default }
.taskDockMargin { float:right; height:100% }
.taskNextBox { width:54px; float:right; margin-left:2px; height:100%; overflow:hidden; background:url(./images/task/bg_task_page_r.png) no-repeat; display:none }
.taskPreBox { width:54px; float:right; margin-right:2px; height:100%; overflow:hidden; background:url(./images/task/bg_task_page_l.png) no-repeat; display:none }
.ie6_0 .taskNextBox { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_page_r.png')
}
.ie6_0 .taskPreBox { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_page_l.png')
}
.taskPre { display:block; width:20px; height:35px; margin-top:20px; margin-left:17px; background:url(./images/task/bg_task_page.png) no-repeat -15px -50px }
.ie6_0 .taskPre { background:url(./images/task/bg_task_page.gif) no-repeat -15px -50px; position:relative }
.taskPre:hover { background-position:-15px -2px }
.taskPreDisable, .taskPreDisable:hover, .ie6_0 .taskPreDisable, .ie6_0 .taskPreDisable:hover { background-position:-15px -97px; cursor:default }
.taskNext { display:block; width:45px; height:35px; margin-top:20px; margin-left:15px; background:url(./images/task/bg_task_page.png) no-repeat -65px -50px }
.ie6_0 .taskNext { background:url(./images/task/bg_task_page.gif) no-repeat -65px -50px; position:relative }
.taskNext:hover { background-position:-65px -2px }
.taskNextDisable, .taskNextDisable:hover, .ie6_0 .taskNextDisable, .ie6_0 .taskNextDisable:hover { background-position:-66px -97px; cursor:default }
.taskGroupItem .taskItemCount { height:36px; margin-top:28px; color:#903; float:left; line-height:36px; display:none; overflow:hidden; text-align:center }
.taskGroupItem .taskItemGroupIcon { width:5px; height:10px; float:left; margin:42px -10px; background:url(./images/task/bg_task_group_icon.png) no-repeat }
.ie6_0 .taskGroupItem .taskItemGroupIcon { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_icon.png')
}
.taskGroupItemOpen { background:url(./images/task/bg_task_group_b.png) no-repeat; height:47px; margin-top:17px }
.bottomBar .taskGroup .taskGroupItemOpen:hover { background:url(./images/task/bg_task_group_b_over.png) no-repeat; height:47px; margin-top:17px }
.bottomBar .taskCurrent .taskGroupItemOpen { background:url(./images/task/bg_task_group_b_cur.png) no-repeat }
.taskGroupItemOpen .taskItemIcon { margin:5px 5px 0 }
.ie6_0 .taskGroupItemOpen .taskItemIcon { margin:5px 3px 0 }
.taskGroupItemOpen .taskItemCount { margin-top:11px }
.taskGroupItemOpen .taskItemTxt { margin-top:10px }
.taskGroupItemOpen .taskItemGroupIcon { margin-top:25px }
.bottomBar .taskJumpUp .taskGroupItemOpen { background:url(./images/task/bg_task_group_b_msg.png) no-repeat }
.ie6_0 .taskGroupItemOpen { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_b.png')
}
.ie6_0 .bottomBar .taskJumpUp .taskGroupItemOpen { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/task/bg_task_group_b_msg.png')
}
.taskItemIconState { display:none; float:left; margin:20px 0 0 -15px; width:15px; height:15px; float:left; overflow:hidden; text-indent:-999em; background:url(./images/task/bg_task_eqq.gif) no-repeat }
.ie6_0 .taskItemIconState { background:url(./images/task/bg_task_eqq.gif) no-repeat }
.taskItem_callme .taskItemIconState { display:inline; background-position:-67px 3px }
.taskItem_online .taskItemIconState { background-position:1px 3px }
.taskItem_away .taskItemIconState { display:inline; background-position:-13px 3px }
.taskItem_busy .taskItemIconState { display:inline; background-position:-31px 3px }
.taskItem_silent .taskItemIconState { display:inline; background-position:-103px 3px }
.taskItem_hidden .taskItemIconState { display:inline; background-position:-49px 3px }
.taskItem_offline .taskItemIconState { background-position:-86px 3px }

.window { display:block; left:-999999px; top:-999999px; position:absolute; padding:0; overflow:hidden; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-touch-callout:none;margin:0; height:100%; overflow:hidden;  -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; border:1px solid #999 }
.window_titleBar { height:25px; cursor:default; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -o-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0 }
.window_title { line-height:20px; overflow:hidden; letter-spacing:1px; line-height:25px }
.ie6_0 .window_title { word-break:break-all }
.window_title_icon { display:inline-block; height:100%; margin-right:5px; width:16px }
.ie7_0 .window_title_icon, .ie6_0 .window_title_icon { display:inline; zoom:1 }
.window_body { border-top:1px solid #ccc; top:25px; bottom:0; width:100%; position:absolute; background-color:#E9E9E9;}
a.window_close { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_max { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_fullscreen { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
.fullscreen_tip_container { width:100%; height:100%; text-align:center; left:0; top:40px }
.fullscreen_tip { display:block; width:369px; height:77px; background:url(./images/fullscreen_tip.png) no-repeat; top:50%; left:50%; margin-left:-184px; margin-top:-80px; position:absolute }
.ie6_0 .fullscreen_tip { background:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://0.web.qstatic.com/webqqpic/style/images/fullscreen_tip.png', sizingMethod='crop')
}
a.window_restore { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_restore_full { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_min { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_refresh { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_pinUp { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
a.window_pinDown { display:none; float:right; margin-left:4px; height:16px; width:16px; cursor:pointer }
.window_controlArea { display:none; position:absolute; bottom:0; padding:3px 0 0 0; height:26px; width:100%; border-top:1px solid #ccc; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px }
a.window_button { display:none; float:right; margin-left:10px; height:23px; width:66px; cursor:pointer; color:#333; text-align:center; line-height:23px }
a.window_button_disabled { color:#CCC!important; cursor:default }
.window_frame { position:relative; width:100%; height:100%; display:none }
.window_ajax { width:100%; height:100%; overflow:auto }
.window_bigIframe { position:absolute; top:0; left:0; width:100%; height:100%; background:transparent }
.text, a.text { color: #666666; }
.window_current .text, .window_current a.text { color: #333333; }
.titleText, a.titleText { color: #6d6d6d; font-weight: bold; }
.window_current .titleText, .window_current a.titleText { color: #393836; }
.appText a { color: white; }
.toolBar_bg { background: url(./skin/sprite_repeat_x_png.png) repeat-x 0 -140px; }
.ie6_0 .toolBar_bg, .ie7_0 .toolBar_bg { background: nonde; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./skin/toolbar_bg.png", sizingMethod="scale");
}
.window { background: url(./skin/transparent.gif) repeat; }
.window_title { height: 25px; text-align:center; }
.window_titleBar { height: 25px; background: url(./skin/sprite_repeat_x_png.png) repeat 0 -1px; }
.window_current .window_titleBar { background: url(./skin/sprite_repeat_x_png.png) repeat 0 -31px; }
.window_titleButtonBar { overflow:hidden; right:5px; position:absolute; top:4px; }
.window_toolButtonBar { overflow:hidden; left:0; position:absolute; top:2px; z-index:10; }
.window_controlArea { background: url(./skin/sprite_repeat_x_png.png) repeat-x 0 -60px; }
.window_current .window_controlArea { background: url(./skin/sprite_repeat_x_png.png) repeat-x 0 -100px; }
a.window_action_button { height: 19px; width: 21px; background: url(./skin/sprite_main_png.png) no-repeat -122px -22px; }
.ie6_0 a.window_action_button, .ie7_0 a.window_action_button { background-image: url(./skin/sprite_main_gif.gif); }
a.window_close { background-position: -64px -59px; }
a.window_close:hover { background-position: -64px -30px; }
a.window_max { background-position: -34px -59px; }
a.window_max:hover { background-position: -34px -30px; }
a.window_fullscreen { background-position: -34px -24px; }
a.window_fullscreen:hover { background-position: -34px -53px; }
a.window_restore_full { background-position: -152px -24px; }
a.window_restore_full:hover { background-position: -152px -53px; }
a.window_restore { background-position: -94px -59px; }
a.window_restore:hover { background-position: -94px -30px; }
a.window_min { background-position: -5px -58px; }
a.window_min:hover { background-position: -5px -30px; }
a.window_refresh { background-position: -5px -24px; }
a.window_refresh:hover { background-position: -5px -53px; }
a.window_pinUp { background-position: -182px -24px; }
a.window_pinUp:hover { background-position: -182px -53px; }
a.window_pinDown { background-position: -152px -24px; }
a.window_pinDown:hover { background-position: -152px -53px; }
a.window_button { background: url(./skin/sprite_main_png.png) 0 -80px no-repeat; }
a.window_button:hover { background-position: 0 -86px; }
a.window_ok { background-position: 0 -86px; margin-right:5px; }
a.window_ok:hover { background-position: 0 -86px; }
a.window_cancel { background-position: 0 -86px; margin-right:5px; }
a.window_cancel:hover { background-position: 0 -86px; }
a.window_previous { background-position: 0 -86px; }
a.window_previous:hover { background-position: 0 -86px; }
a.window_next { background-position: 0 -86px; }
a.window_next:hover { background-position: 0 -86px; }
